<div class="row">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">Pizzeria</a>
        <a class="navbar-brand" routerLink="">
          <img class="inline" src="assets/pizza.png" width="35" height="35" alt="">
        </a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="OrderPizza">Order Pizza</a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item ignore-none">
          <button (click)="routeToCart()" class="btn btn-warning navbar-btn"><span><img src="assets/ShoppingCart.png"
                width=25 height="25" alt=""></span>Shopping
            Cart</button>
        </li>
      </ul>

    </div>

  </nav>

</div>
<router-outlet></router-outlet>
<footer>
  <p align="center" style="color:orange;font-style: italic">Copyright &copy; 2018 Pizzeria. All rights reserverd </p>
  <div class="row">
    <div class="col-sm-offset-5">
      Images courtesy via:
      <a align="center" style="font-size:8;color:gray" href="http://www.vectorgraphit.com/" target="_blank">source</a>
      and <a align="center" style="font-size:8;color:gray" href="https://www.iconfinder.com/ratch0013?" target="_blank">source</a>
    </div>
  </div>
</footer>