<div class="container jumbotron">
    <h1 align="center">Our Story</h1>
    <p> We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.Fans were given
        situations where they had to come up with wacky and fun excuses. The people with the best excuse won the
        Best Excuse Badge and won Pizzeria's
        vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza.
        Ever!
        <br><br>
        Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest,
        cheesiest,
        crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the middle of a
        performance and even finding excuses to be
        disqualified in a football match.
        <br><br>
        We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.Fans were given situations where
        they had
        to come up with wacky and fun excuses. The people with the best excuse won the Best Excuse Badge and won
        Pizzeria's
        vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza.
        Ever!
    </p>
    <div>
        <img class="img-responsive" width="275" height="150" alt="Ingredients" src="assets/ingredients.jpeg" align="left"
            hspace="30">
        <div style="text-align:justify">

            <h1 font face="verdana">Ingredients</h1>

            <p> We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from
                the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir.
                Stir. While they're still young and fresh - that's our motto. It makes the kitchen a better place.
                <br><br>
            </p>
        </div>
    </div>
    <hr>
    <div>
        <img class="img-responsive" width="300" height="200" alt="Chef Logo" src="assets/chef.jpeg" align="right"
            hspace="30">

        <h1>Our Chefs</h1>

        <div style="text-align:justify">
            <p>They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and strirring
                spoons (among other things). They make goodness so good, it doesn't know what to do with itself.
                We do though. We sent it to you.</p>
            <br><br><br>
            <hr>

        </div><br><br><br><br>
    </div>
    <div>

        <img width="300" alt="Angular Logo" src="assets/45Minutes.jpeg" align="left" hspace="20">
        <br />
        <br />

        <h3>45 Minutes Delivery</h3>
    </div>
</div>
<p align="center" style="color:orange;font-style: italic">Copyright &copy; 2018 Pizzeria. All rights reserverd </p>