<div class="row" align="center">
  <div *ngIf="isEmpty;else cart">
    <img class='img-responsive' src="/assets/emptyCart.png" alt="Empty Cart"><br>
  </div>
  <ng-template #cart>
    <div *ngIf="cartItems.length==0;else displaycart">
      <div class="row">
        <mat-progress-spinner class="col-sm-offset-6" color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </div>
    <ng-template #displaycart>
      <div>
        <strong class="col-sm-2" style="font-size:30px">Grand Total:{{grandTotal}}</strong></div>
      <div class="row" *ngFor="let item of cartItems">
        <div class="col-sm-12">
          <mat-card>
            <mat-card-header>
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive" src="{{item.image}}">
                </div>
              </div>
              <div class="col-sm-4">
                <mat-card-title>
                  <b>Name:</b>&nbsp;{{item.name}} <br>
                </mat-card-title>
                <mat-card-subtitle>
                  <b>Base Price:</b> &nbsp;{{item.price}}<br />
                  <b>Add On Price:</b> &nbsp;{{item.addOnPrice}}<br />
                  <b>Pizza Price:</b> &nbsp;{{item.total}}<br />
                  <div *ngIf="item.type=='veg'; else nonBlock">
                    <img class="img-responsive" src="/assets/green.png" width="30" height="30" alt="Veg"></div>
                  <ng-template #nonBlock>
                    <img class="img-responsive" src="/assets/red.png" width="30" height="30" alt="Non-Veg">
                  </ng-template>
                  <b>Topping:</b>&nbsp;{{item.topping}}<br />

                  <div>
                    <div *ngIf="item.addOns==null; else elseBlock">
                      <b>No Extra Topping</b></div>
                    <ng-template #elseBlock>
                      <b>Extra Toppings:</b> &nbsp;{{item.addOns}}
                    </ng-template>
                  </div>
                  <b>Quantity:</b>&nbsp;<b>{{item.quant}} </b>
                </mat-card-subtitle>
              </div>
              <div class="col-sm-2">
                <button mat-raised-button (click)="removeFromCart(item._id)" color="warn" onclick="window.location.reload()">Remove
                  pizza</button>
              </div> <br>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </ng-template>
    <!-- </ng-template> 
</div>-->