<div class="row">
    <div *ngFor="let item of pizzaArray; let i=index;" class="col-sm-6">
        <mat-card>
            <div class=" row">
                <div class='col-sm-3'>
                    <mat-card-header>
                        <mat-card-title>
                            <h3> Name:</h3>
                            {{item.name}} <br>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                <div *ngIf="item.type=='veg'; else elseBlock">
                                    <img class="img-responsive" src="/assets/green.png" width="30" height="30" alt="Veg"></div>
                                <ng-template #elseBlock>
                                    <img class="img-responsive" src="/assets/red.png" width="30" height="30" alt="Non-Veg">
                                </ng-template>
                            </div>
                            <h3>Price:</h3>
                            {{item.price}}<br>
                        </mat-card-subtitle>
                    </mat-card-header>
                </div>

                <div class="col-sm-3">
                    <mat-card-content>
                        {{item.description}}<br>
                        <h3>Ingredients:</h3>
                        {{item.ingredients}} <br>
                        <h3>Toppings:</h3><br>
                        {{item.topping}}
                    </mat-card-content>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" style="height:300px;width:300px;" src={{item.image}} /><br>
                    <mat-card-actions>
                        <button class="btn btn-danger col-sm-1" (click)="quantDecrease(item.id)">-</button>{{countArray[i]}}
                        <button class="btn btn-success col-sm-1" (click)="quantIncrease(item.id)">+</button><br>

                        <button (click)="addToCart(item.id)" class="btn btn-success col-sm-12">Add</button><br>
                    </mat-card-actions>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let element of ingredientsArray; let i=index">
                    <mat-card-content>
                        <div class="checkbox col-sm-2">
                            <input type="checkbox" (change)="addToOrder($event.target.checked,item.id,element.tname ,element.price)">{{element.tname}}
                        </div>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<br>
<button type="button" class="btn btn-success pull-right" (click)="routeToCart()">Go to Cart</button>