<table class="table-borderless">

    <tr>

        <div *ngFor="let item of pizzaArray; let i=index" class="col-sm-6">

            <td>



                <div class="col-sm-4">

                    <b>Name: </b><br>

                    {{item.name}}<br>

                    <b>Price: </b><br>

                    {{item.price}}<br>



                    <div *ngIf="item.type=='veg'; else elseBlock">
                        <div style="height:10px;width:10px;background-color:green"></div>
                    </div>
                    <ng-template #elseBlock>
                        <div style="height:10px;width:10px;background-color:red"></div>
                    </ng-template>

                </div>

                <div class="col-sm-4">



                    {{item.description}}<br>

                    <b>Ingredients: </b><br>

                    {{item.ingredients}}<br>

                    <b>Toppings: </b><br>

                    {{item.topping}}

                </div>

                <div class="col-sm-4">

                    <img style="height:80px;width:80px" src={{item.image}} /><br>

                    <button (click)="addToCart(item.id)" class="btn btn-success">Add To Cart</button>

                </div>

            </td>

        </div>



    </tr>

</table>
<button (click)='get()'>get</button>


<!--  <mat-card-header>
                    <mat-card-title>{{name}} <br></mat-card-title>
                    <div *ngIf="type=='
        veg'; else elseTemplate">
                        <img src="/assets/green.png" alt="Veg">
                    </div>
                    <ng-template #elseTemplate>
                        <img src="/assets/red.png" alt="Non-Veg">
                    </ng-template>
                </mat-card-header>
                <mat-card-content>{{description}}</mat-card-content>
                <h3>Ingredients:</h3>{{ingredients}} <br>
                {{price}}<h3>Toppings:</h3>{{toppings}}
        </mat-card> -->